<div class="row">
    <div class="col">
        <!-- Datepicker -->
        <div class="row">
            <div class="col">
                <div class="text-end">
                    <label for="datepickerFrom">From</label>
                    <input type="text" id="datepickerFrom">
                    <label for="datepickerUntil">Until</label>
                    <input type="text" id="datepickerUntil">
                </div>
            </div>
        </div>
        <script>
            initializeDatePicker();
        </script>
        <!-- Custom Chart -->
        <div class="row">
            <div class="col">
                <canvas id="cgmChart-custom"></canvas>
                <script>createCustomCGMChart();</script>
            </div>
        </div>
    </div>
</div>


<script>

</script>
