<div class="row">
    <div class="col">
        <p>
            Name: <%= name %>
            <br>
            Data available from <%= timespan.from %> until <%= timespan.until %>
        </p>
    </div>
</div>